header {
    font-family: sans-serif;
    font-variant: small-caps;
    font-size: 25px;
    background-color: teal;
    line-height: 100%;
    text-align: left;
    padding: 2px;
}

body{ 
    font-family: verdana;
    font-size: 120%;
    margin: 2%;
    background-color: cadetblue;
}

h1, h2, h3{
    color: wheat;
}

.display{
    background-color: cornflowerblue;
    padding: 10px;
    width: 300px;
    height: 100px;
    font-size: large;
}

.introvitor{
    display: inline-block;
    border-bottom: solid 1px wheat;
}

img {
    image-orientation: center;
    width: 50px;
    height: 50px;
    border: solid 1px wheat;
}

.vitor{
    display: block;
    width: fit-content;
    height:fit-content;
    float: left;
    border: solid 1px wheat;
    margin-top: 10px;
    padding: 0px;
}

.frameazul {
    text-align: center;
    background-color: cornflowerblue;
    height: 400px;
    width: 500px;
    background-size: cover;
    transition-duration: .5s;
    transition-delay: .1s;    
}

.descriçãovitor{
    display: inline-block;
    height: 360px;
    width: 500px;
    padding: 20px;
    background-size: cover;
    margin-top: 10px;
    transition-duration: .5s;
    transition-delay: .1s;    
}


#textofoto::before {
    padding-right: 8px;
    content: attr(data-value);
}