div{
    color: black;
}

h1, h2, h3{
    color: wheat;
}
h1{
    transition-property: transform;
    transition-duration: 1.5s;
    transition-delay: .4s;
}

header {
    font-family: sans-serif;
    font-variant: small-caps;
    font-size: 25px;
    background-color: teal;
    line-height: 100%;
    text-align: left;
    padding: 2px;
}
body{ 
    font-family: verdana;
    font-size: 120%;
    margin: 2%;
    background-color: cadetblue;
}
a{
    font-style: italic;
    display: block;
    padding: 6px;
    transition-property: color, background-color;
    transition-duration: .25s;
    transition-delay: .1s;    
}
.indice{ 
   width: fit-content;
   height: fit-content;
   background-color: teal;
   display: block;
   float: left;
   border: solid 1px wheat;
   margin-right: 15px;
   margin-bottom: 1px;
}
.sobremim{
    display: block;
    font-family: verdana;
    color: wheat;
    text-align:justify;
    width: 1270px;
    height: 70%;
    margin:0px 20px;
    padding: 2px;
}
.comida{
    display: block;
    background-color: teal;
    width: 629px;
    height: 230px;
    float: left;
    border: solid 1px wheat;
    margin: 1px 7px 7px 1px;
    padding: 4px;
}
.viajar{
    display: inline-block;
    background-color: teal;
    width: 629px;
    height: 230px;
    border: solid 1px wheat;
    margin: 1px 1px 7px 7px;
    padding: 4px;
}
ul{
    list-style-type: square;
}
ol{
    list-style-type: lower-roman;
}
h1:hover{
    transform: scale(.8) rotateX(1440deg);
}
a:visited{
    background-color: teal;
    color: wheat;
}
a:hover{
    background-color: darkslategrey;
    color: teal;
}
a:focus{
    background-color: wheat;
    color:tomato;
}
